body {
    height: 100%;
    width: 100%;
    background-image: url("background.avif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: "Lacquer", system-ui !important;
}

/* Add styling to replicate the model website */
.card {
    margin: 10px;
}

h1,
h2 {
    text-align: center;
    color: white !important;
}

.carousel img {
    border-radius: 25px;
    height: 80vh;
    width: auto;
    margin: auto;
}

.carousel {
    margin-bottom: 5vh;
}

.navbar-brand {
    color: white !important;
}